<% include ./partials/header %>
<div class="container-fluid">
<h1>Welcome to Aston Events Management!</h1>
<h5>If you have an account Login if not Register an account! You're able to view any previously created events by an organiser by clicking the button below.</h5>
<a href="/events"><button type="button" name="button">View All Events</button> </a>
</div>
<% include ./partials/footer %>
